<app-header></app-header>
<body >
    
 <article>
  <div class="content">
      <h3>FIND HIGHLY QUALIFIED MENTORS HERE!</h3>
      <form name="loginForm" method="post" action="">
          <table>
              

              <tr>
                  <td><label for="technology"><b>Technology</b></label></td><br>
                  <td><input type="text" placeholder="Enter technology" name="technology" id="technology" required></td>
              </tr>

              <tr>
                  <td><label for="time"><b>Time</b></label></td><br>
                  <td>From <input type="time" placeholder="Enter time" name="time" id="time" required>
                      To <input type="time" placeholder="Enter time" name="time" id="time" required></td>
              </tr>

              <tr>
                  <td><button type="button" class="btn btn-warning">Reset</button></td>
                  <td><button type="button" class="btn btn-danger">Search</button></td>
              </tr>

          </table>

      </form>
  </div>

</article>
</body>
<app-footer></app-footer>
<router-outlet></router-outlet>