

<app-header></app-header>
<body>
<article>
    <div class="login-page">
        <div class="form">
            <form class="login-form" (ngSubmit)="onSubmit()">
                    <input type="text" placeholder="Enter Username" name="username" id="username" required [(ngModel)]="username">
                <input type="password" placeholder="Enter Password" name="password" id="Password" required [(ngModel)]="password" >
                <div class="btn-group">
                    <button type="submit" class="btn btn-success">Sign in</button>
                </div>
           
            </form>
        </div>
    </div>
</article>
</body>
<app-footer></app-footer>
