<app-header></app-header>
<body>
  

<article>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" >
      <div class="container-fluid">
          <ul class="nav navbar-nav">
              <li class="active"><a routerLink="/user-details" routerLinkActive="active" class="nav-link">Home </a></li>
              <li><a routerLink="#" routerLinkActive="active" class="nav-link">About  </a></li>
              <li><a routerLink="/search-mentor" routerLinkActive="active" class="nav-link">Search Mentor</a></li>
              <li><a routerLink="/response-for-proposals" routerLinkActive="active" class="nav-link">View-Responses</a></li>
              <li><a routerLink="/completed-trainings" routerLinkActive="active" class="nav-link">Completed Trainings</a></li>
              <li> <a routerLink="/onprogress-trainings" routerLinkActive="active" class="nav-link">On progress Trainings</a></li> 
              <li> <div class="dropdown">
                  <a routerLink="#"  class="dropdown-toggle" data-toggle="dropdown" class="nav-link">Payment</a>
                  <div class="dropdown-menu">
                      <a routerLink="#" class="dropdown-item">Payment Made</a>
                      <a routerLink="#" class="dropdown-item">Payment Completed</a>
                  </div>
              </div></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
                  
              <li><a routerLink="/mentor-login" routerLinkActive="active" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
          </ul>
      </div>
  </nav>
   <table *ngIf="proposals">
    <tr>
        <th>ID</th>
        <th>Skill name</th>
        <th>User Name</th> 
        <th>Ratings</th>
        <th>Action</th>                                             
    </tr>
    <tr *ngFor="let proposal of proposals|async">
  
        <td>{{proposal.tid}}</td>
        <td>{{proposal.skill_name}}</td>
        <td>{{proposal.username}}</td>
        <td>{{proposal.rating}}</td>
        <td >
          <button type="button" class="btn btn-success" (click)="finalizeProposal(Approved)" >Finalize</button>
        </td>
        <td >
          <button type="button" class="btn btn-success" (click)="rejectProposal(Rejected)">Reject</button>
        </td>
     </tr>
     
  </table>
  </article>
</body>
<app-footer></app-footer>
<router-outlet></router-outlet>